:root {
  --padding-horizontal: var(--t-spacing-4);
}


/* ===== GLOBAL ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol;
  background: var(--t-fill-color-product-home-gradient-page);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--t-text-color-default-primary);
  -webkit-font-smoothing: antialiased;
}


/* ===== TYPOGRAPHY ===== */
a, a:visited {
  color: var(--t-fill-color-neutral-010);
}

a:hover, a:visited:hover {
  color: var(--t-fill-color-neutral-020);
}

p {
  line-height: 1.4;
  font-weight: var(--t-font-weight-normal);
}

ul {
  padding: 0 0 0 var(--t-spacing-3);
  margin: 0;
}

ul li:not(:last-child) {
  margin-bottom: var(--t-spacing-1);
}

.fs-sm { font-size: var(--t-font-size-sm) }
.fs-md { font-size: var(--t-font-size-md) }
.fs-lg { font-size: var(--t-font-size-lg) }
.fs-xl { font-size: var(--t-font-size-xl) }

.fw-500 { font-weight: 500 }
.fw-600 { font-weight: 600 }


/* ===== CARD ===== */
.card {
  background: var(--t-surface-color-card);
  width: clamp(480px, 90vw, 800px);
  border-radius: var(--t-border-radius-lg);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin: var(--t-spacing-6) auto;
}

  .card--content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: var(--t-spacing-2) var(--padding-horizontal) var(--t-spacing-4);
  }

  .card header {
    width: 100%;
    padding: var(--t-spacing-3) var(--padding-horizontal) var(--t-spacing-2) var(--padding-horizontal);
  }

  .card footer {
    display: flex;
    width: 100%;
    border-top: 1px solid var(--t-border-color-default-base);
    padding: var(--t-spacing-3) var(--padding-horizontal) var(--t-spacing-4) var(--padding-horizontal);
    flex-direction: row-reverse;
    flex-wrap: wrap;
    row-gap: var(--t-spacing-6);
    column-gap: var(--t-spacing-2);
  }


/* ===== FOOTER LOGO ===== */
.footer-logo {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

  .footer-logo p {
    white-space: nowrap;
    font-weight: 600;
  }

  .footer--buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--t-spacing-1);
    flex: 1;
    justify-content: end;
  }

  .footer--buttons .tds-btn {
    flex: 1;
    white-space: nowrap;
  }

  @media (max-width: 599px) {
    .footer--buttons .tds-btn {
      --tds-btn-padding-y: 11px;
      --tds-btn-padding-x: 18px;
    }
  }

  @media (min-width: 600px) {
    .footer--buttons .tds-btn {
      flex: 0 0 auto;
    }
  }

  a:focus-visible {
    outline: 2px solid var(--t-text-color-interaction-primary);
    outline-offset: 2px;
    border-radius: var(--t-border-radius-md);
  }


/* ===== ALERT ===== */
.alert {
  padding: var(--t-spacing-2);
  border-radius: var(--t-border-radius-lg);
  display: flex;
  gap: var(--t-spacing-1);
  margin-bottom: var(--t-spacing-1);
}

  .alert--sm { padding: 12px }
  .alert--warning { background: var(--t-fill-color-status-warning-dim) }
  .alert--neutral { background: var(--t-fill-color-status-neutral-dim) }

  .alert--content {
    display: flex;
    flex-direction: column;
    gap: var(--t-spacing-half);
  }

  .alert--icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 22px;
    height: 22px;
  }


/* ===== SVG ===== */
.svg {
  display: inline-block;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.svg--planningcenter {
  aspect-ratio: 166 / 24;
  width: 200px;
}

.svg--picolabs {
  aspect-ratio: 96 / 24;
  width: 110px;
}

.svg--shield {
  aspect-ratio: 1 / 1;
  max-width: 24px;
}
